#overall {
  background-color: rgb(101, 14, 128);
  border: solid 2px;
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: space-around;
  align-items: center;
}
.resume {
  border: 1px solid;
  width: 300px;
  height: 200px;
}
h2 {
  text-align: center;
}
.btn {
  background-color: rgb(62, 62, 160);
}
